.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #3e1e51;
}

#emoji {
  margin-left: 10px;
  color: gold;
}

h4 {
  color: #777;
  margin-bottom: 20px;
}

#warning {
  display: flex;
  justify-content: center;
  color: gray;
  margin-bottom: 10px;
  align-items: center;
  animation: fadeIn 2s ease-in-out;
}

.titolo {
  color: crimson;
}

.testo {
  font-size: large;
  font-weight: bold;
}

.form {
  margin-bottom: 20px;
  animation: fadeIn 2s ease-in-out;
}

mat-form-field {
  width: 100%;
}

.post {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 40px;
  background-color: #f9f9f9;
}

.post-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-date {
  color: #999;
}

.post-actions {
  display: flex;
  gap: 10px;
}

h5,
h6 {
  margin: 5px 0;
}

.post-content {
  margin: 10px 0;
  line-height: 1.5;
}

.liked-by {
  margin-top: 10px;
  font-size: 0.9em;
  color: #777;
}

.comment-list {
  margin-top: 20px;
}

.comment {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 3px;
  background-color: #fff;
}

.comment-content {
  margin: 0;
}

button.delete-button {
  margin-left: 10px;
}

.disabled-button {
  opacity: 0.5;
  pointer-events: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1, 5s ease-in-out;
}
